        /* Media query for screens smaller than 768px (e.g., mobile devices) */
        @media (max-width: 767px) {
            .nav-buttons {
                display: none;

            }

            .close-svg-button {
                display: none;
            }

            .navbar {
                padding: 10px 10px;
            }

            .menu-svg-button,
            .close-svg-button {
                display: block;
                z-index: 999;
            }

            .nav-ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                height: 100vh;
            }

            .nav-buttons {
                font-size: 24px;
                display: bloack;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                background: #717171;

                transition: 0.3s;
            }

                   
            .nav-ul li {
                gap: 20px;
                transition: all ease 200ms;
               }
               

            .nav-ul li:hover{
                color: rgb(255, 255, 255);
                
                }

                .navbar .profile-img-div  {
                   z-index:1;
                }
        }

        /* Media query for screens between 768px and 1023px (e.g., tablets) */
        @media (min-width: 768px) and (max-width: 1023px) {

            .menu-svg-button,
            .close-svg-button {
              display: block;
              z-index: 1;
            }

            .nav-buttons {
                display: none;
            }

            .navbar {
                padding: 10px 20px;
            }

            .close-svg-button {
                display: none;
            }
      .nav-ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                height: 100vh;
            }

            .nav-buttons {
                font-size: 24px;
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                background: #717171;

                transition: 0.3s;
            }

                   
            .nav-ul li {
                gap: 20px;
                transition: all ease 200ms;
               }
               

            .nav-ul li:hover{
                color: rgb(255, 255, 255);
                
                }

                .navbar .profile-img-div  {
                   z-index:1;
                }

        }

        /* Media query for screens larger than or equal to 1024px (e.g., desktops) */
        @media (min-width: 1024px) {

            .menu-svg-button,
            .close-svg-button {
                display: none;
            }
        }


        /* Media query for smaller screens */
        @media (max-width: 767px) {

            .menu-svg-button,
            .close-svg-button {
                display: block;
            }

            .nav-buttons {
                display: block;
            }

            .close-svg-button {
                display: none;
            }


            .nav-ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                height: 100vh;
            }

            .nav-buttons {
                font-size: 24px;
                display: bloack;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                background: #717171;

                transition: 0.3s;
            }

                   
            .nav-ul li {
                gap: 20px;
                transition: all ease 200ms;
               }
               

            .nav-ul li:hover{
                color: rgb(255, 255, 255);
                
                }

                .navbar .profile-img-div  {
                   z-index:1;
                }
        }

            /* Media query for larger screens */
            @media (min-width: 768px) {}

            @media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
                /* Your landscape tablet and small desktop styles here */

            }