        /* Media query for screens smaller than 768px (e.g., mobile devices) */
        @media (max-width: 767px) {
            .nav-buttons{
                display: none;
                
            }

            .close-svg-button{
                display: none;
            }

            .navbar{
                padding: 10px 10px ;
            }

            .menu-svg-button, .close-svg-button {
                display: block;
                z-index: 999;
            }

        .navbar{
            /* /* width: 100%;
            height: 100vh; */
            background-color:  rgba(0, 0, 0, 0.7);
      
        } */
            
        }

        /* Media query for screens between 768px and 1023px (e.g., tablets) */
        @media (min-width: 768px) and (max-width: 1023px) {
            .menu-svg-button, .close-svg-button {
                display: block;
            }
            .nav-buttons{
                display: none;
            }

            .navbar{
                padding: 10px 20px ;
            }

            .close-svg-button{
                display: none;
            }
            

        }

        /* Media query for screens larger than or equal to 1024px (e.g., desktops) */
        @media (min-width: 1024px) {
            .menu-svg-button, .close-svg-button {
                display: none;
            }
        }


        /* Media query for smaller screens */
        @media (max-width: 767px) {
            .menu-svg-button, .close-svg-button {
                display: block;
            }
            .nav-buttons{
                display: none;
            }

            .close-svg-button{
                display: none;
            }
        }

        /* Media query for larger screens */
        @media (min-width: 768px) {
          
        }

        @media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
            /* Your landscape tablet and small desktop styles here */
        
          }
          